* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  /* background-color: #f9f9fb; leave or remove */
}

nav {
  font-weight: 5px;
}

#nav-logo {
  width: 200px;
  height: auto;
  margin: -200px;
  margin-left: auto;

}

/* HOMEPAGE START*/
/*
.hero-section {
  background: #f8f9fa;
  padding: 100px 0;
  text-align: center;
 background-image: url("./assets/images/hero/anas-alshanti.jpg");
}
*/

.hero-section {
  color: #fff;
  background: #f8f9fa;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  background-image: url("./assets/images/hero/emile-perron.jpg");
  background-size: cover;
  /* Ensures the image covers the entire section */
  background-position: center;
  /* Centers the image within the section */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
}

.hero-text {
  /* color: #343a40; */
  color: #fff;
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #484747;
  border-color: #484747;
}

.badge {
  padding: 2px;
  background-color: rgb(104, 223, 104);
}


b {
  color: #000;
  font-weight: 600;
}


span {
  background-color: black;
  color: #f8f9fa;
  border-radius: 15px;
}

#newsletter {
  margin-right: 150px;
}

.carousel-inner img {
  width: 50px;

}

#services img {
  width: 50px;
  margin-left: 15px;
  margin-top: 8px;
}

#services-card {
  width: 415px;
  height: 170px;
}

.package-heading {
  font-weight: bold;
}



/* Style for active button */
#webServicesBtn {
  background-color: lightgray;
  color: #000;
  /* Change the text color to black or any color of your choice */
}


#appServicesBtnApp {
  background-color: lightgray;
  color: #000;
  /* Change the text color to black or any color of your choice */
}

#price {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  background-color: #fff;

}

#portfolio2 h5 {
  font-weight: bold;
}


.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  transition: all 0.3s;
  transform: scale(1.02);
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Ribbon Styles */
.ribbon {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  right: -10px;
  overflow: hidden;
}

.ribbon span {
  width: 240px;
  padding: 15px 0px;
  background: #79ea62;
  display: block;
  position: absolute;
  top: 30px;
  left: -25px;
  transform: rotate(45deg);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.ribbon:after,
.ribbon:before {
  content: '';
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #23b606;
  border-left: 5px solid #23b606;
  position: absolute;
}

.ribbon:before {
  bottom: 0;
  right: 0;
}

.ribbon:after {
  top: 0;
  left: 0;
}


/* HOMEPAGE END */
h2 {
  color: black;
  text-decoration: underline;
}

/* CONTACT PAGE START */
#contact-me a {
  text-decoration: none;
}

#contact-me a:hover {
  text-decoration: underline;
}

#msg {
  color: #61b752;
  background-color: #fff;
  margin-top: 5px;
  display: block;
}

#spinner {
  display: none;
}

/* CONTACT PAGE END */

/* ABOUT PAGE START */

/* ABOUT PAGE END */

/* PROJECTS PAGE START */

/* PROJECTS PAGE END */


/* Medium Devices e.g ipad */
@media (max-width:799px) {

  /* HOMEPAGE START */
  #services-card {
    width: 200px;
    height: 90px;
  }

  .card-title {
    margin-top: -5px;
    font-size: 1rem;
  }

  #services .card-text {
    display: none;
    /* Hide the card text on medium devices */
  }

  #portfolio2 .card-text {
    display: none;
    /* Hide the card text on medium devices */
  }

  #portfolio2 .btn-dark,
  .btn-success {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }

  #Ecommerce_App {
    margin-bottom: 50px;
  }

  #services img {
    width: 25px;
    margin-left: 10px;
    margin-top: 4px;
  }

  #packages p {
    font-size: 14px;
  }

  #basic-plan {
    margin-top: 55px !important;
  }

  #enterprise-plan {
    margin-top: 70px !important;
  }

  #app-basic-plan {
    margin-top: 190px !important;
  }

  #app-standrad-plan {
    margin-top: 145px !important;
  }

  #price {
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: #fff;
  }

  #newsletter {
    margin-right: 50px;
  }

  #testimonials .container {
    margin-bottom: 1px !important;
  }

  footer input {
    width: 80px !important;
    margin-bottom: 8px;
    border-radius: 5px !important;
  }

  /* HOMEPAGE END */

  /* PROJECTS PAGE START */
  #portfolio .btn-dark,
  .btn-success {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }

  #portfolio p {
    font-size: 18px;
  }
  /* PROJECTS PAGE END */

  /* CONTACT PAGE START */
  #form {
    margin-left: 0 !important;
    margin-bottom: 15px;
  }
  /* CONTACT PAGE END */


}

/* Small Devices e.g phones */
@media (max-width:477px) {

  /* HOMEPAGE START */

  .hero-section {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background-image: url("./assets/images/hero/oskar-yildiz.jpg");
    background-size: cover;
    /* Ensures the image covers the entire section */
    background-position: center;
    /* Centers the image within the section */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
  }

  #services-card {
    margin: 5px;
    width: 150px;
    height: 100px;
  }

  #testimonials {
    margin: 2 !important;
    padding: 10px !important;
    width: 100%;
    height: 100%;
  }

  #testimonials p {
    font-size: 12px;
  }

  footer h4 {
    font-size: large;
  }

  footer p,
  footer a,
  footer .text-center {
    font-size: 12px;
  }

  footer input {
    border-radius: 5px 0 0 5px !important;
    margin-bottom: 15px;
  }

  #subscribeBtn {
    height: 100%;
    border-radius: 0 5px 5px 0 !important;
  }

  /* HOMEPAGE END */

  /* PROJECTS PAGE START */
  #portfolio p {
    font-size: 18px;
  }

  #portfolio img {
    margin-bottom: 10px;
  }
  /* PROJECTS PAGE END */

  /* CONTACT PAGE START */
  #PricePlan {
    font-size: 12px;
  }

  #Plan {
    font-size: 12px;
  }
  /* CONTACT PAGE END */

}